@font-face {
    font-family: Titulos;
    src: url("../fonts/mentimun.ttf") format('truetype');
}
@font-face {
    font-family: Encabezado;
    src: url("../fonts/sketch3D.otf") format('truetype');
}

body {
    background: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bloque2 {
    width: 1000px;
    margin: 0px auto;
    text-align: center;

}

#contenido{

    width: 400px;
    margin: 0px auto;
    border-radius: 15px;
}


#hijascontenido
{
    border-radius: 0px 15px 15px 15px;
    margin-bottom: 15px;
    background: linear-gradient(100deg, pink 25%, white 50%, pink 75%);
    background-repeat: repeat;
    padding: 2rem;
    animation: degradado 100s linear infinite;

}
.supremo{
    display: flex;
}

@keyframes degradado {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: -80rem 0;
    }

    100% {
        background-position: 0 0;
    }
}

#texto1 {

    text-align: left;
    padding: 0px 0px 0px 30px;
    border-radius: 0px 15px 0px 0px;
    font-size: 2em;
    font-family: Encabezado;
    font-style: italic;
    color: brown;
    border-bottom: 2px solid rgba(170, 156, 156, 0.6);

}

#texto2 {

    text-align: left;
    padding-left: 70px;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: cursive;
    color: rgb(209, 49, 49);
    word-wrap: break-word;
}
#texto3{
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: cursive;
    color: blue;
    word-wrap: break-word;
}

.like {
   
    display: flex;
    height: 30px;
}

#megusta {
    font-size: 1.5em;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}
#megusta:active{
    color:red;
    transform: scale(1.2em);
}


#input1 {
    background: none;
    border: none;
    padding-left: 5px;
    pointer-events: none;
}

.botones {
    width: 100px;
    justify-content: end;
}

img {
    
    width: 25px;
    opacity: 0.5;
}
.basura {
    margin-left: auto;
}

.basura:hover {
    transform: scale(1.5);
    transition: 250ms;
}

.botoncillos{
   justify-content: center;
}
.boton {
    display: inline-flex;
    width: 150px;
    height: 50px;
    background: violet;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: Verdana;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.boton span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton.dos span {
    transition: .4s ease-in-out all;
    position: absolute;
    left: 45px;
}

.boton.dos .icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -25px;
    transition: .3s ease-in-out all;
}

.boton.dos:hover .icono {
    left: 115px
}

.boton.dos:hover span {
    left: 15px;
}

.boton.dos.icono svg {
    color: aliceblue;
    width: 50px;
    height: 50px;
}

label{
    display: flex;
    padding-top: 20px;
    font-size: 1.5em;
    color: brown;
    font-style:oblique;
    font-style: italic;
    font-family: Titulos;

}
#title{
    background-color: pink;
    border-radius: 10px;
    border: 3px solid violet;
    font-size: 1.5em;
    padding: 0px;
}
#message{
    background-color: pink;
    border-radius: 10px;
    font-size: 1.5em;
    height: 50px;
    width: 300px;
    border: 3px solid violet;
}
#category{
    display: inline-flex;
    width: 150px;
    height: 50px;
    background: violet;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: Verdana;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 10px;
}
#category:hover{
   color:blueviolet
    
}
.categorias{
    font-family: cursive;
    color:rgb(135, 10, 135);
    background-color:pink;
}